<html>
<head>
    <title>Ontable</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src='/javascripts/techenthusiastic.js'></script>
    <script src='/javascripts/techenthusiastic.js'></script>

    <link rel='stylesheet' href='/stylesheets/stylesheet.css' type="text/css" />
    <link rel='stylesheet' href='/stylesheets/techenthusiasiticss2.css' type="text/css"/>

</head>
<body>
<div class="container-fluid nav-stacked" style="background-color:#ff0000;color:#fff;height:150px;">
    <p><h1 style="color:#ffff00;text-align:center;">WELCOME TO ......</h1></p>

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-4">
            <div class="well">
                <a href="/starter"><image src="/images/starter.png" style="height:230px;widht:50px;"></image><h3>Starter</h3></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <a href="/main"><image src="/images/main.png" style="height:230px;widht:50px;"></image><h3>Main</h3></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <a href="/biryani"><image src="/images/biryani.png" style="height:230px;widht:50px;"></image><h3>Biryani</h3></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
</html>